certifi==2023.7.22
chardet==3.0.4
convertdate==2.2.0
holidays==0.10.1
idna==2.9
numpy==1.22.0
pandas==1.0.3
PyMeeus==0.3.7
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
six==1.14.0
urllib3==1.25.8
